<div menu></div>

<div class="container">
    <div class="wrapper"></div>
    <div class="oms-h1 oms-roboto oms-red-text">
        My history
    </div>
    <hr class="oms-hr red">


    <div class="list-group">
            <a href="" ng-show="history.length == 0" class="list-group-item disabled">
                There is no result
            </a>
            <a ng-href="" ng-repeat="trip in history" class="list-group-item" >
                <div class="oms-h3 oms-roboto oms-light-blue-red">
                    {{trip.name}}
                </div>
                <b>check in: </b>{{trip.checkIn}}
                <b>check out: </b>{{trip.checkOut}} <br>

                <b>Needs:</b>
                <ul>
                    <li ng-repeat="value in trip.needs">{{value}}</li>
                </ul>

                <b>Additionals:</b>
                <ul>
                    <li ng-repeat="value in trip.additionals">{{value}}</li>
                </ul>

                <b>Ammout: </b>
                {{trip.clientsAmount}}

            </a>
        </div>



</div>