<div menu></div>

<div class="container">
    <div class="wrapper"></div>
    <div class="oms-h1 oms-roboto oms-red-text">
        New trip configuration
    </div>
    <hr class="oms-hr red">

    <form autocomplete="off">

    <label class="checkbox-inline"><input type="checkbox" value="">Restaurants</label>
    <label class="checkbox-inline"><input type="checkbox" value="">Cinemas</label>
    <label class="checkbox-inline"><input type="checkbox" value="">Bares</label>
    <label class="checkbox-inline"><input type="checkbox" value="">Museums</label>
    <label class="checkbox-inline"><input type="checkbox" value="">Health Centers</label>
    <input type="button" class="btn btn-primary btn-block btn-large nounderline" class="input-login" ng-click="GetLocation()" value="Go!">
    </form>

    <div class="oms-h3 oms-roboto oms-red-text"></div>

    <hr class="oms-hr red">
    <div class="row" ng-repeat="placerow in placelist | chunkBy:3">
        <div ng-repeat="place in placerow" class="col-sm-4 col-md-4">
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                        <img src="{{place.photos[0].getUrl()}}"  width="300" height="200">
                        <ul>
                            <li><h3>{{place.name}}</h3></li>
                                <li>tel: {{ place.international_phone_number }}</li>
                                <li>rating: {{ place.rating }}</li>
                                <li>website: {{ place.website }}</li>
                                <li>schedule:</li>
                                <ul ng-repeat="hour in  place.opening_hours.periods" ng-if="hour.open.day!=0">
                                    <li >Day:{{hour.open.day}}     {{hour.open.hours}}:{{hour.open.minutes}} / {{hour.close.hours}}:{{hour.close.minutes}} </li>
                                </ul>
                                <ul  ng-if="details.opening_hours.periods[0].open.day==0">
                                    <li > 24/7</li>
                                </ul>
                        </ul>
                    </p>
                </div>
            </div>
    </div>

</div>