<div menu></div>

<div class="container">
    <div class="wrapper"></div>
    <div class="oms-h1 oms-roboto oms-red-text">
        New trip configuration
    </div>
    <hr class="oms-hr red">

    <label class="checkbox-inline"><input type="checkbox" value="">Restaurants</label>
    <label class="checkbox-inline"><input type="checkbox" value="">Cinemas</label>
    <label class="checkbox-inline"><input type="checkbox" value="">Bares</label>
    <label class="checkbox-inline"><input type="checkbox" value="">Museums</label>
    <label class="checkbox-inline"><input type="checkbox" value="">Health Centers</label>


    <div class="oms-h3 oms-roboto oms-red-text">
        Search
    </div>
    
    <a class="oms-btn" ng-click="getLocationTest()">Press me!</a>
    <hr class="oms-hr red">
    <div class="row" ng-repeat="placerow in placelist | chunkBy:3">
        <div ng-repeat="place in placerow" class="col-sm-4 col-md-4">
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                    <h3>{{place.name}}</h3>
                    <hr>
                    <p>
                        Starts: {{place.stars}}<br>
                        Phone number: {{place.number}}
                    </p>
                    <p>
                        <a ng-href="#/newtrip/{{place.stars}}" href="" class="btn btn-success oms-buttom" role="button">New trip here</a>
                        <a ng-href="#/tripinfo/{{place.stars}}" class="btn btn-default oms-buttom" role="button">More info...</a>
                    </p>
                </div>
            </div>
    </div>

</div>