<div menu></div>

<div class="container">
    <div class="wrapper"></div>
    <div class="oms-h1 oms-roboto oms-red-text">
        New trip
    </div>
    <hr class="oms-hr red"> Busqueda


    <br> lista de elementos


<!--     
    <div class="row" ng-repeat="letters in alphabet | chunkBy:4">
            <div class="col-xs-3 letter-box" ng-repeat="letter in letters" >
              <div>Letter {{$index + 1}} is: <b> {{letter}}</b></div>
            </div>
          </div>

     -->

    <div class="row" ng-repeat="placerow in placelist | chunkBy:3">
        <div ng-repeat="place in placerow" class="col-sm-4 col-md-4">
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                    <h3>{{place.name}}</h3>
                    <p>
                        Starts: {{place.stars}}
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">New trip here!</a>
                        <a href="#" class="btn btn-default" role="button">Add to wishlist</a>
                    </p>
                </div>
            </div>
        </div>
        
    </div>


    <br>
    <br>



</div>