<div menu></div>

<div class="container" ng-init="getSites()">
    <div class="wrapper"></div>
    <div class="oms-h1 oms-roboto oms-red-text">
        Trip list
    </div>
    <hr class="oms-hr red">


    <!--

    <div class="oms-h3 oms-roboto oms-red-text">
        Search
    </div>
    <div class="input-group">
            <input type="text" class="form-control oms-input">
            <span class="input-group-btn">
                 <button class="btn btn-success oms-buttom" type="button">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                     Search
                </button>
            </span>
         </div>
        -->
    <div class="oms-h3 oms-roboto oms-red-text">
        Results
    </div>

    <div class="row" ng-repeat="placerow in placelist | chunkBy:3">
        <div ng-repeat="place in placerow" class="col-sm-4 col-md-4">
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                        <img src="{{place.photos[0].getUrl()}}"  width="300" height="200">
                        <ul>
                            <li><h3>{{place.name}}</h3></li>
                                <li>tel: {{ place.international_phone_number }}</li>
                                <li>rating: {{ place.rating }}</li>
                                <li>website: {{ place.website }}</li>
                                <li>schedule:</li>
                                <ul ng-repeat="hour in  place.opening_hours.periods" ng-if="hour.open.day!=0">
                                    <li >Day:{{hour.open.day}}     {{hour.open.hours}}:{{hour.open.minutes}} / {{hour.close.hours}}:{{hour.close.minutes}} </li>
                                </ul>
                                <ul  ng-if="details.opening_hours.periods[s0].open.day==0">
                                    <li > 24/7</li>
                                </ul>
                        </ul>
                    <p>
                        <a ng-href="#/newtrip/place.lat/place.long" href="" class="btn btn-success oms-buttom" role="button">New trip here</a>
                        <a ng-href="#/tripinfo/{{place.stars}}" class="btn btn-default oms-buttom" role="button">More info...</a>
                    </p>
                </div>
            </div>
        </div>

    </div>


    <br>
    <br>



</div>