<div menu></div>

<div class="container">
    <div class="wrapper"></div>
    <div class="oms-h1 oms-roboto oms-red-text">
        Trip list
    </div>
    <hr class="oms-hr red">

    <div class="oms-h3 oms-roboto oms-red-text">
        Search
    </div>

    <div class="input-group">
            <input type="text" class="form-control oms-input">
            <span class="input-group-btn">
                 <button class="btn btn-success oms-buttom" type="button">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                     Search
                </button>
            </span>
         </div>

    <div class="oms-h3 oms-roboto oms-red-text">
        Results
    </div>



    <div class="row" ng-repeat="placerow in placelist | chunkBy:3">
        <div ng-repeat="place in placerow" class="col-sm-4 col-md-4">
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                    <h3>{{place.name}}</h3>
                    <hr>
                    <p>
                        Starts: {{place.stars}}
                    </p>
                    <p>
                        <a ng-href="#/newtrip/{{place.stars}}" href="" class="btn btn-success oms-buttom" role="button">New trip here</a>
                        <a ng-href="#/tripinfo/{{place.stars}}" class="btn btn-default oms-buttom" role="button">More info...</a>
                    </p>
                </div>
            </div>
        </div>

    </div>


    <br>
    <br>



</div>