<div menu></div>

<div class="container" ng-init="getSites()">
    <div class="wrapper"></div>
    <div class="oms-h1 oms-roboto oms-red-text">
        Trip list
    </div>
    <hr class="oms-hr red">


    <!--

    <div class="oms-h3 oms-roboto oms-red-text">
        Search
    </div>
    <div class="input-group">
            <input type="text" class="form-control oms-input">
            <span class="input-group-btn">
                 <button class="btn btn-success oms-buttom" type="button">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                     Search
                </button>
            </span>
         </div>
        -->
    <div class="oms-h3 oms-roboto oms-red-text">
        Results
    </div>

    <div class="row" ng-repeat="placerow in placelist | chunkBy:3">
        <div ng-repeat="place in placerow" class="col-sm-4 col-md-4">
            <div class="thumbnail">
                <img src="{{place.image}}"  width="300" height="200">
                <div class="caption">
                    <div class="oms-h3 oms-roboto">{{place.name}}</div>
                    <b>Tel:</b> {{ place.international_phone_number }}
                    <b>Rating:</b> {{ place.rating }}
                    <b>Website:</b> {{ place.website }}
                    <b>Schedule:</b>
                    <ul>
                        <li ng-repeat="hour in  place.schedule" ng-if="hour.open.day!=0">{{hour}} </li>
                    </ul>
                    <b>Activities:</b>
                    <ul>
                        <li  ng-repeat="activity in  place.activities">{{activity}}</li>
                    </ul>
                    <p>
                        <a ng-href="#/client/book/{{place.name}}" href="" class="btn btn-success oms-buttom" role="button">New trip here</a>
                        <a ng-href="#/newtrip/{{place.lat}}/{{place.long}}" class="btn btn-default oms-buttom" role="button">More info...</a>
                    </p>
                </div>
            </div>
        </div>

    </div>


    <br>
    <br>



</div>