<div menu></div>

<div class="container">
    <div class="wrapper"></div>
    <div class="oms-h1 oms-roboto oms-red-text">
        Register
    </div>


    <form id="loginForm">


        <div class="oms-roboto">User Name: </div>
        <input required class="form-control oms-input" type="text" ng-model="user.user" />

        <div class="oms-roboto">Id: </div>
        <input required  class="form-control oms-input" type="text" ng-model="user.id" />

        <div class="oms-roboto">Name: </div>
        <input  required class="form-control oms-input" type="text" ng-model="user.name" />


        <div class="oms-roboto">Email: </div>
        <input required class="form-control oms-input" type="email" ng-model="user.correo" />

        <div class="oms-roboto">Phone number: </div>
        <input  required class="form-control oms-input" type="text" ng-model="user.phone" />


        <div class="oms-roboto">Birthdate: </div>
        <input  required class="form-control oms-input" type="date" ng-model="user.birth" />

        <br>

    </form>


    <br>
    <br>



</div>