<div menu></div>
<div class="container">
  <div class="wrapper"></div>
  <div class="oms-h1 oms-roboto oms-red-text">
    Select locations
  </div>

  <form id="form" role="form" name="but">

    <div class="form-group move-down">
      <input type="text" id="Autocomplete2" ng-model="autocomplete" class="form-control oms-input" ng-autocomplete options="options"
        details="data" />
    </div>
  </form>


  <form id="form2">

    <div align="center">
      <input type="text" id="lat" ng-model="lat" placeholder="latitude" style="background-color : #FFFFFF;" size="50" />
      <input type="text" id="lng" ng-model="lng" placeholder="longitude" style="background-color : #FFFFFF;" size="50" />
      <input type="button" value="Submit" ng-click="GetLocation()" size="100" style="background-color : #3560FF;" />
    </div>
  </form>
  <hr class="oms-hr red">
  <div class="row" ng-show="data != undefined">
    <div class="col-md-6">

        <div class="oms-h1 oms-roboto oms-red-text">
            {{data.name}}
        </div>
      <!-- <input ng-model="data.name" type="text" class="form-control oms-input"> -->
      <div>Direction:</div>
      <input ng-model="data.direction" type="text" class="form-control oms-input">

      <div>Latitude:</div>
      <input readonly ng-model="data.lat" ng-init="data.lat = data.geometry.location.lat()" ng-value="data.geometry.location.lat()" type="text" class="form-control oms-input">

      <div>Logitude:</div>
      <input readonly ng-model="data.long" ng-value="data.geometry.location.lng()" type="text" class="form-control oms-input">

      <div>Description:</div>
      <input ng-model="data.description" type="text" class="form-control oms-input">


      <div>Activities:</div>
      <a href="" ng-show="listEmpty(data.activities)">
        There aren't results.
      </a>

        <div ng-repeat="activity in data.activities track by $index">
          <div class="oms-form-group">

            <div class="input-group">
              <input ng-model="activity" type="text" class="form-control oms-input">
              <span class="input-group-btn">
                <button ng-click="data.activities.splice($index,1)" class="btn btn-danger oms-buttom" type="button">
                  <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                  Delete
                </button>
              </span>
            </div>
          </div>
        </div>

        <div class="oms-form-group">
          <div class="input-group">
            <input ng-model="new_activity" type="text" class="form-control oms-input">
            <span class="input-group-btn">
              <button ng-click="addActivity(new_activity);new_activity=''" class="btn btn-success oms-buttom" type="button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Add Activity
              </button>
            </span>
          </div>
        </div>


      <div>Price:</div>
      <input ng-model="data.price" type="text" class="form-control oms-input">
      <div>Type:</div>
      <input ng-model="data.type" type="text" class="form-control oms-input">
      <div>Rating:</div>
      <input readonly ng-model="data.rating" type="text" class="form-control oms-input">
      <div>Phone number:</div>
      <input ng-model="data.cellphone" type="text" class="form-control oms-input">

      <div>Schedule:</div>
      <a href="" ng-show="listEmpty(data.schedule)">
        There aren't results.
      </a>

      <div ng-repeat="schedule in data.schedule track by $index">
        <div class="oms-form-group">

          <div class="input-group">
            <input ng-model="schedule" type="text" class="form-control oms-input">
            <span class="input-group-btn">
              <button ng-click="data.schedule.splice($index,1)" class="btn btn-danger oms-buttom" type="button">
                <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                Delete
              </button>
            </span>
          </div>
        </div>
      </div>

      <div class="oms-form-group">
        <div class="input-group">
          <input ng-model="new_schedule" type="text" class="form-control oms-input">
          <span class="input-group-btn">
            <button ng-click="addSchedule(new_schedule);new_schedule=''" class="btn btn-success oms-buttom" type="button">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              Add
            </button>
          </span>
        </div>
      </div>

      <div>Website:</div>
      <input ng-model="data.website" type="text" class="form-control oms-input">


      <br>

      <a href="" ng-click="addData()" class="btn btn-lg btn-success btn-block oms-buttom">Insert</a>

    </div>

    <div class="col-md-6">
      <img ng-if="data.photos != undefined && data.photos.length > 0" src="{{data.photos[0].getUrl()}}" width="400" height="300">

      <!-- <ul>
        <li>name: {{ details.name }}</li>
        <li>type:</li>
        <ul ng-repeat="type in details.types">
          <li> {{type}} </li>
        </ul>
        <li>tel: {{ details.international_phone_number }}</li>
        <li>rating: {{ details.rating }}</li>
        <li>schedule: </li>

        <ul ng-repeat="hour in  details.opening_hours.periods" ng-if="hour.open.day!=0">
          <li>Day:{{hour.open.day}} {{hour.open.hours}}:{{hour.open.minutes}} / {{hour.close.hours}}:{{hour.close.minutes}} </li>
        </ul>
        <ul ng-if="details.opening_hours.periods[0].open.day==0">
          <li> 24/7</li>
        </ul>
        <li>website: {{ details.website }}</li>
        <li>Lat: {{ details.geometry.location.lat() }}</li>
        <li>Lng: {{ details.geometry.location.lng() }}</li> -->
    </div>

  </div>


  <hr ng-if="details != undefined && details != null" class="oms-hr red">

  </ul>

</div>

</div>